@model EntityLayer.Concrete.Uye
@{
    ViewData["Title"] = "PasswordUpdate";
    Layout = "~/Views/Shared/KullaniciInterface/_KullaniciLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<section class="cat_product_area section_padding">
    <div class="container">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Update Password</h3></div>
                                    <div class="card-body">
                                        @using (Html.BeginForm("PasswordUpdate", "Kullanici", FormMethod.Post))
                                        {
                                            <!--<form method="post">-->
                                            <div class="row mb-3">
                                                <div class="form-floating mb-3">
                                                    @Html.TextBoxFor(x => x.email, new { @class = "form-control", @type = "email" })
                                                    @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger", })
                                                    <label for="inputEmail">Email address</label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(x => x.parola, new { @class = "form-control", type = "password" })
                                                    @Html.ValidationMessageFor(x => x.parola, "", new { @class = "text-danger", })
                                                    <label for="inputPassword">New password</label>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary btn-block ">Update</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
<script src="js/scripts.js"></script>


