@using EntityLayer.Concrete

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Free Jobs</title>
    <link href="~/css/styleSBB.css" rel="stylesheet" />
    <script src="~/js/Sball.min.js" crossorigin="anonymous"></script>
    <link href="~/css/stylesSB.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("KullaniciAdmin/_KullaniciAdminLayout")

    <div id="layoutSidenav">
        @await Html.PartialAsync("KullaniciAdmin/_KullaniciAdminPanelPartial1")
        <div id="layoutSidenav_content">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/SBbootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/SBChart.min.js" crossorigin="anonymous"></script>
    <script src="~/js/SBsimple-datatables@lates" crossorigin="anonymous"></script>
    <script src="~/js/chart-area-demo.js"></script>
    <script src="~/js/chart-bar-demo.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
</body>
</html>